<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li><a href="/admin/dashboard"><i class="fa fa-book"></i> <span>Dashboard</span></a></li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dot-circle-o"></i> <span>Services</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/services"><i class="fa fa-circle-o"></i> All Services</a></li>
                    <li><a href="/admin/new-service"><i class="fa fa-circle-o"></i> Create Services</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dot-circle-o"></i> <span>Products</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/products"><i class="fa fa-circle-o"></i> All Products</a></li>
                    <li><a href="/admin/new-product"><i class="fa fa-circle-o"></i> Create Products</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dot-circle-o"></i> <span>Reviews</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/reviews"><i class="fa fa-circle-o"></i> All Reviews</a></li>
                    <li><a href="/admin/new-review"><i class="fa fa-circle-o"></i> Create Reviews</a></li>
                </ul>
            </li>
            <li><a href="/admin/subscribers"><i class="fa fa-book"></i> <span>Subscriber</span></a></li>
            <li><a href="/admin/contacts"><i class="fa fa-book"></i> <span>Contacts</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
