<!DOCTYPE html>
<html>
<head>
<% include('includes/header')%>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <% include('includes/navbar')%>
    <% include('includes/sidebar')%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <%-body -%>
    </div>

    <% include('includes/footer')%>
</div>
<!-- ./wrapper -->

<% include('includes/scripts')%>
</body>
</html>
